<header>
    <!-- <div class="titulo">
        <div class="titulo-container">
            <span>Talita</span>
            <span>Cakes</span>
        </div>
    </div> -->
    <div class="titulo">
        <img src="../../assets/images/talita_cakes_sem_circulo.png" alt="Logo Talita Cakes">
    </div>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/sobre" routerLinkActive="active">Sobre</a></li>
            <li><a routerLink="/produtos" routerLinkActive="active">Produtos</a></li>
            <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
        </ul>
    </nav>
</header>