<footer>
    <div class="container">
        <div class="copyright">
            &copy; {{ anoAtual }} Talita Cakes. Todos os direitos reservados.
        </div>
        <div class="links">
            <a href="https://api.whatsapp.com/send?phone=011936920500" target="_blank">
                <i class="fab fa-whatsapp"></i> Whatsapp
            </a>
            <a href="https://www.instagram.com/talita.cakes" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="mailto:talitaccp@hotmail.com">
                <i class="fab fa-envelope"></i> Email
            </a>
        </div>
    </div>
</footer>